<div class="row">
  <div class="col-12">
    <h1>Welcome</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p class="lead">This site provides quick access to a broad array of quality information on design, operations and maintenance best practices, and energy and water efficiency measures for facility managers, operations staff, and design engineers who want to improve central plant and distribution efficiency but don't have time to search for these resources.</p>
    <p>This Resource Map does not duplicate guidance provided in codes and standards, and it should not be used in lieu of professional engineering services.</p>
  </div>
  <div class="col-md-6">
    <h2>General HVAC Resources</h2>
    <p><a href="https://retuning.pnnl.gov/user/login/?prev_path=/" target="_blank"> Building Re-Tuning Training:</a> two free interactive e-learning courses when you sign up for an account with Pacific Northwest National Laboratory (PNNL).</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card-deck my-5">
      <div class="card mt-3 mt-lg-0">
        <div class="card-header">
          <h2><a routerLink="/commercial-hvac">Commercial HVAC</a></h2>
        </div>
        <div class="d-none d-sm-block">
          <img class="img-fluid" src="assets/images/resistance-test.jpg" alt="Resistance test of temperature sensors in the cooling supply section of the ventilation unit. (Photo by Roman Zaiets)">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="card mt-3 mt-lg-0">
        <div class="card-header">
          <h2><a routerLink="/laboratories">Laboratory HVAC</a></h2>
        </div>
        <div class="d-none d-sm-block">
          <img class="img-fluid" src="assets/images/29658.jpg" alt="Jeff Wolfe does research in the compositional analysis lab at the Field Test Laboratory Building (FTLB) at the National Renewable Energy Laboratory in Golden, CO. (Photo by Dennis Schroeder / NREL)">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="card mt-3 mt-lg-0">
        <div class="card-header">
          <h2><a routerLink="/space-loads">Space Loads</a></h2>
        </div>
        <div class="d-none d-sm-block">
          <img class="img-fluid" src="assets/images/23249.jpg" alt="The library, or information commons, in the RSF is designed with energy saving appliances and recycled materials utilizing available light to create a comfortable space for NREL employees. (Photo by Dennis Schroeder / NREL)">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
